.row.content {height: 1500px}
    
    .sidenav {
      background-color: indigo;
      height: 100%;
      position: absolute;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: indigo;
      color: white;
      padding: 15px;
      text-align: center;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

.container-fluid{
  background-color: darkslateblue;
}